.scrollbar {
  background-color: #F5F5F5;
  float: left;
  height: 600px;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  width: 600px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 1200px;
}

#target::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#target::-webkit-scrollbar-thumb {
  background-color: #212432;
}

#target::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
